.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 70%;
    width: 28%;
    overflow: hidden;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border: 2px solid rgb(255, 255, 255, .2);
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .searchbox{
    position: relative;
    width: 85%;
    height: 0.7rem;
    text-align: center;
    margin-top: 0.4rem;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 0.16rem;
    z-index: 10;
  }
  .searchbox .ri-map-pin-2-fill{
    font-size: 0.32rem;
    color: white;
    position: absolute;
    left: 5%;
    top: 20%;
  }
  .searchbox input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0.16rem;
    color: rgb(255, 255, 255, .8);
    font-size: 0.288rem;
    outline: none;
    position: absolute;
    left: 0%;
    /* This Ensures That Padding Is Not Included In Element Width */
    box-sizing: border-box; 
    padding-left: 15%;
  }
  .searchbox .ri-search-line{
    font-size: 0.32rem;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 20%;
    transition: .3s all;
  }
  .searchbox .ri-search-line:hover{
    color: rgb(255, 255, 255, .8);
  }
  
  
  .displayInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.32rem;
    width: 70%;
    height: 60%;
  }
  .displayInfo img{
    height: 50%;
  }
  .displayInfo h1{
    font-size: 0.96rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .displayInfo h1 sup{
    font-size: 0.4rem;
    font-family: monospace;
  }
  .displayInfo h2{
    text-transform: capitalize;
    font-size: 0.32rem;
    text-align: center;
  }
  
  .displayDetails{
    display: flex;
    width: 90%;
    margin-top: 0.16rem;
    justify-content: space-around;
    color: rgb(255, 255, 255, .8);
  }
  .displayDetails i{
    font-size: 0.64rem;
    margin-right: 0.08rem;
    color: white;
  }
  .displayDetails .humidity{
    display: flex;
  }
  .humidity h1{
    font-size: 0.32rem;
  }
  .humidity h2{
    font-size: 0.24rem;
  }
  .displayDetails .windSpeed{
    display: flex;
  }
  .windSpeed h1{
    font-size: 0.32rem;
  }
  .windSpeed h2{
    font-size: 0.24rem;
  }
  
  /* Media Queries For Responsive Layout , Focusing On Container Width And The Error Display Box Width */
  @media (max-width: 1100px) and (min-width: 950px) {
    .container{
        width: 35%;
    }
  }
  @media (max-width: 950px) and (min-width: 750px) {
    html{
        font-size: 60px;;
    }
    .container{
        width: 40%;
    }
  }
  @media (max-width: 750px) and (min-width: 650px) {
    html{
        font-size: 57px;
    }
    .container{
        width: 45%;
    }
  }
  @media (max-width: 650px) and (min-width: 500px) {
    html{
        font-size: 58px;
    }
    .container{
        width: 60%;
    }
  }
  @media (max-width: 500px) and (min-width: 350px) {
    html{
        font-size: 55px;
    }
    .container{
        width: 80%;
    }
  }
  @media (max-width: 350px) and (min-width: 100px) {
    html{
        font-size: 50px;
    }
    .container{
        width: 90%;
    }
  }